numpy  # C-like arrays and vectorized functions
pyqt  # Qt library in Python
pyqtgraph  # Fast plotting
zaber.serial  # Zaber XY-Stage API
paramiko  # SSH API in python
scipy  # scientific python
pyyaml  # yaml
