numpy  # C-like arrays and vectorized functions
pyzmq  # 0MQ
paramiko  # SSH API in python
scipy  # scientific python
pyyaml  # yaml
psutil  # multiprocessing / process interface
# pyqt  # Qt library in Python
# pyqtgraph  # Fast plotting
